body{
    background-color: black;
    color: aquamarine;
    text-align: center;
}

.btn{
    width: 92px;
}

.input_R{
   max-width: 85px;
   text-align: right;
}

table, th, tr, td{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

td{
    width: 90px;
    font-size: 8px;
}
